
<nav class="nav flex justify-content-between">
  <img class="logo" src="./assets/images/logo.png" alt="logo">

  <div #nav_list class="nav-list">
    <ul>
      <li>Home</li>
      <li routerLink="products">Products</li>
      <li>Contact</li>
      <li>News</li>
      <li>Videos</li>
    </ul>

    <img class="line" src="./assets/images/nav-line.png" alt="line">
    <img src="./assets/images/basket.png" alt="basket">

    <img class="sign" src="./assets/images/sign.png" alt="sign">

  </div>

  <div #bar_menu class="menu">
    <mat-icon>menu</mat-icon>
  </div>
  
</nav>

<main>
  <app-home></app-home>
</main>

<div id="counter">
  <span>01</span>
  <span class="line"></span>
  <span>04</span>
</div>

<router-outlet></router-outlet>