
$background: rgba(246, 248, 251, 1);

$nav-padding: 43.5px;
$nav-list-margin-top: calc(70px - 43.5px);

nav{

    background: $background;
    padding-top: $nav-padding;

    padding-right: 10%;
    flex-wrap: nowrap;

    position: relative;

    .logo{
        margin-left: 103px;
    }

    div{
        display: flex;
        height: fit-content;

        margin-top: $nav-list-margin-top;

        ul{
            display: flex;
            list-style-type: none;
            width: fit-content;
            height: 18px;
            flex-shrink: 0;
            line-height: 18px;
            gap: 75px;
            margin-bottom: 0;
            margin-top: 6px;
            padding-left: 0;
    
            li{
                color: #000;
                font-family: 'Akshar', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
            }
        }

        .line{
            margin-left: 44px;
            margin-right: 42px;
            height: 18px;
            margin-top: 6px;
            width: 2px;
        }

        .sign{
            margin-left: 41px;
        }
    }

    .menu{
        display: none;
        color: rgb(248, 190, 57);

        width: 32px;
        height: 32px;

        mat-icon{
            width: 32px;
            height: 32px;

            font-size: 30px;
        }
    }
}

$content_text_margin_top: 30px;

main{
    font-family: Akshar;

    & .container-fluid:nth-of-type(1) .content .text{
        margin-top: 60px;
    }

    .container-fluid{
        background: $background;
        min-height: 100vh;
    
        padding-top: 92px;
        padding-left: 119px;
    
        position: relative;
    
        &:nth-of-type(1)
        {
            min-height: calc(100vh - (43.5px + 79px));
        }
    
        .content{
            position: relative;
            z-index: 1;
    
            display: flex;
            min-height: 650px;
            flex-wrap: wrap;
    
            gap: 55px;
            width: 90%;
            justify-content: space-around;

            .text{
                width: 667px;
                margin-top: 150px;
    
                h3{
                    color: #34495D;
                    font-size: 100px;
                    font-weight: 600;
                    line-height: 130.02%; /* 130.02px */
    
                    span{
                        color: #F8BE39;
                    }
                }
    
                p{
                    max-width: 509px;
                    color: #000;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 149%;
                    margin-top: $content_text_margin_top;
                    margin-bottom: 0;
                }
    
                button{
                    width: 172px;
                    height: 49px;
                    border-radius: 15px;
                    background: #000;
                    border: none;
                    margin-top: $content_text_margin_top;
    
                    color: #FFF;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 149%;
                }
            }
    
            .image{
                width: 400px;
                height: 595px;

                overflow: hidden;
    
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                img{

                    width: 800px;
                    height: 500px;
                }
            }

        }
    
        .background_header{
            position: absolute;
            top: 590px;
            left: 5%;
            
            font-size: 300px;
            font-weight: 600;
            line-height: 40.02%;
            width: 1200px;
            height: 155px;
            color: $background;
            text-shadow: 0px 0px 2px rgb(212, 207, 207);
            z-index: 0;
        }
    
        .line{
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            width: 90%;
            height: 1px;
            background-color: #9e9999;
        }
    }

    //untypical img size
    $container_number: 3, 4;
    $img_sizes: 785px 452px, 770px 330px 670px 290px;

    @for $i from 1 through 2{

        .container-fluid:nth-of-type(#{nth($container_number, $i)}) .content .image
        {
            $list: nth($img_sizes, $i);

            @for $x from 1 through length($list) / 2
            {
                img:nth-of-type(#{$x}){
                    width: nth($list, 2 * $x - 1);
                    height: nth($list, 2 * $x);
                }
            }
        }
    }

    #counter{
        display: flex;
        position: fixed;

        bottom: 7%;
        right: 5%;

        flex-direction: column;
        gap: 25px;

        span{
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }

        .line{
            display: block;
            width: 35px;
            height: 2px;
            background-color: #252525;
        }
    }
}


@media (max-width: 1550px)
{
    nav{
        
        .nav-list{

            ul{
                gap: 60px;
            }
        }
    }
    .content{
        .text{
            width: fit-content !important;
        }
    }

}

@media (max-width: 1300px)
{
    nav{
        .nav-list{
            display: none !important;
            flex-direction: column;

            position: absolute;
            top: 100%;

            right: 115px;
            margin-top: 0;
    
            ul{
                flex-direction: column;
                height: fit-content;
                display: block;

                li{
                    &:nth-of-type(1)
                    {
                        margin-top: 0;
                    }

                    margin-top: 28px;
                    text-align: center;
                }
            }
    
            img{
                &:nth-of-type(1){
                    display: none;
                }
    
                width: fit-content;
                height: fit-content;

                margin: auto;
                margin-top: 28px;
            }
        }

        .menu{
            display: block;
        }
    }
    
    .container-fluid{

        .background_header{
            font-size: 300px;
            left: 5%;
            transform: translate(-17%, 0);
        }
    }
    
}

@media(max-width: 800px)
{
    nav .logo{
        width: 200px;
    }

    main{
        .container-fluid{
            padding-left: 0px !important;
            padding-right: 0px !important;
    
            .content{
                width: 100% !important;
                gap: 0px !important;

                padding-right: 50px;

                .text{
                    h3{
                        font-size: 70px !important;
                    }
                }
            }
        }
    }

    .container-fluid{
        padding-left: 0px !important;
        padding-right: 0px !important;

        .content{
            width: 100% !important;
            gap: 0px !important;
        }
    }
}

@media(max-width: 650px)
{
    nav .logo{
        margin-left: 10%;
    }

    main .container-fluid .content .text{
        margin-top: 0px;
        padding: 0px 0px 0px 20px;
    }
}

@media(max-width: 485px)
{
    main .container-fluid .content .image img{
        width: 87% !important;
        height: auto !important;
    }
}