
<nav class="nav flex justify-content-between">
  <img class="logo" src="../assets/images/logo.png" alt="logo">

  <div #nav_list class="nav-list">
    <ul>
      <li>Home</li>
      <li>Products</li>
      <li>Contact</li>
      <li>News</li>
      <li>Videos</li>
    </ul>

    <img class="line" src="../assets/images/nav-line.png" alt="line">
    <img src="../assets/images/basket.png" alt="basket">

    <img class="sign" src="../assets/images/sign.png" alt="sign">

  </div>

  <div #bar_menu class="menu">
    <mat-icon>menu</mat-icon>
  </div>
  
</nav>

<main>
  <div class="container-fluid">
    <div class="content content-1">

      <div class="text">
        <h3>
          <span>Apollo</span><br> V7 Antennas
        </h3>
        <h5>
          ( AT2450G10 & PAT0413G5 )
        </h5>
        <div class="describe">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
          <button>
            <p>Learn More</p>
          </button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_1.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>

    <span class="line"></span>
  </div>
  
  <div class="container-fluid">
    <div class="content content-2">

      <div class="text">
        <h3>
          <span>Apollo</span><br> V7 Antennas
        </h3>
        <h5>
          ( DIR0530G9 )
        </h5>
        <div class="describe">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
          <button>
            <p>Learn More</p>
          </button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_2.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>

    <span class="line"></span>
  </div>
  
  <div class="container-fluid">
    <div class="content content-3">

      <div class="text">
        <h3>
          <span>Apollo</span><br> V7 Antennas
        </h3>
        <h5>
          ( PAT0530G12XP )
        </h5>
        <div class="describe">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
          <button>
            <p>Learn More</p>
          </button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_3.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>

    <span class="line"></span>
  </div>
  
  <div class="container-fluid">
    <div class="content content-3">

      <div class="text">
        <h3>
          <span>Apollo</span><br> V7 Antennas
        </h3>
        <h5>
          ( PAT0530G12XP )
        </h5>
        <div class="describe">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
          <button>
            <p>Learn More</p>
          </button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_4_1.png" alt="Photo of antenna 1">
        <img src="../assets/images/content_4_2.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>
  </div>

  <div id="counter">
    <span>01</span>
    <span class="line"></span>
    <span>04</span>
  </div>
</main>


<router-outlet></router-outlet>