<div class="container-fluid">
    <div class="content content-1">

      <div class="text">
        <h3>
          <span>PAT2450G10</span><br> & PAT0413G5
        </h3>
        <div class="describe">
          <p>
            Using these 2 antennas, you can build a system covering different sectors for bands 433MHz to 1.3GHz (PAT0413G5) and from 2.4GHz to 5.9GHz (PAT2450G10).
            Each antenna is vertically polarized. The PAT0413G5 gain is in the range of 3.4 – 8.7dBi.
            On the other hand, the PAT2450G10 gain is 9-10 dBi.
          </p>
          <button>Learn More</button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_1.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>

    <span class="line"></span>
  </div>
  
  <div class="container-fluid">
    <div class="content content-2">

      <div class="text">
        <h3>
          <span>DIRO530G9</span>
        </h3>
        <div class="describe">
          <p>
            This is a ruggedized steel directive LPD antenna covering from 500MHz up to 3GHz.
            The gain and radiation pattern are quite stable within all the operational antenna’s bandwidth.
            The polarization is linear and by rotating the antenna you can set the polarization to H, V or slant polarization.
          </p>
          <button>Learn More</button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_2.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>

    <span class="line"></span>
  </div>
  
  <div class="container-fluid">
    <div class="content content-3">

      <div class="text">
        <h3>
          <span>PAT0460G10</span>
        </h3>
        <div class="describe">
          <p>
            This is a compact microstrip directive LPD antenna covering from 400MHz up to 6GHz.
            The gain and radiation pattern are quite stable within all the operational antenna’s bandwidth.
            The polarization is linear and by rotating the antenna you can set the polarization to H, V or slant polarization.
            The antenna is made up using 2 sub-antennas combined with a diplexer, providing a smooth and uniform response.
          </p>
          <button>Learn More</button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_3.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>

    <span class="line"></span>
  </div>
  
  <div class="container-fluid">
    <div class="content content-3">

      <div class="text">
        <h3>
          <span>PAT0530G12XP</span>
        </h3>
        <div class="describe">
          <p>
            This is a compact microstrip directive Vivaldi antenna covering from 500MHz up to 6GHz with a gain of up tuo12 dBi.
            The polarization is dual linear and by rotating the antenna you can set the polarization to H&V or slant polarization.
          </p>
          <button>Learn More</button>
        </div>
      </div>

      <div class="image">
        <img src="../assets/images/content_4_1.png" alt="Photo of antenna 1">
        <img src="../assets/images/content_4_2.png" alt="Photo of antenna 1">
      </div>

    </div>

    <h2 class="background_header">Antennas</h2>
  </div>

  <div id="counter">
    <span>01</span>
    <span class="line"></span>
    <span>04</span>
  </div>